.bounce-effect-wrapper {
  box-sizing: border-box;
  line-height: 1.65;
}

.bounce-effect-wrapper > a {
  overflow: hidden;
}

.bounce-effect-wrapper > a,
.bounce-effect-wrapper button {
  margin: 0 0 20px;
  position: relative;
  text-decoration: none;
  color: #342a2a;
}

.bounce-effect-wrapper > a::after{
  height: calc(100% - 8px);
}

.bounce-effect-wrapper button::after {
  height: calc(100% - 10px);
}

.bounce-effect-wrapper > a::after,
.bounce-effect-wrapper button::after {
  content: "";
  background: #d1d9ae;
  position: absolute;
  left: 12px;
  bottom: -6px;
  width: calc(100% - 8px);
  z-index: -1;
}

.bounce-effect-wrapper > a:hover:after,
.bounce-effect-wrapper button:hover:after {
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 100%;
}

@media (min-width: 550px) {
  .bounce-effect-wrapper > a::after,
  .bounce-effect-wrapper button::after {
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  }
}
