.gallery {
  display: flex;
  flex-direction: row;
}
.yikes {
  margin: 25px;
  display: flex;
  flex-direction: column;
}

.shrink {
  max-width: 75%;
}

.image {
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

.captions {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;

}


.right {
  float: right;
}

.captions {
  flex: 1;
}

.captions h4 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 400;
  letter-spacing: 1;
  font-style: italic;
  margin-top: -5px;
}

.img-container:hover .img-content-hover {
  display: flex;
}

img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.img-content {
  font-size: 16px;
  align-self: flex-start;
}
