.row {
  display: flex;
  flex-direction: row;
}

.yikes {
  margin: 15px;
}


.img-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;

}

.caption-container {
  display: flex;
  flex-direction: column;
}


.captions {
  flex: 1;
}

.img-container:hover .img-content-hover {
  display: flex;
}

img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.img-content {
  font-size: 16px;
  align-self: flex-start;
}
