
.img-container {
  display: inline-flex;
  cursor: pointer;
  overflow: hidden;
  border-radius: 15px;
}

.img-container:hover .img-content-hover {

}

img {
  width: 100%;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}

.img-content {
  font-size: 16px;
}
